<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Lodepen
  link(rel="stylesheet", href="dist/style.css")
body

  h1#say-hi Hi, welcome to lodepen!

  // example of how to load bower libraries
  script(src="lib/jquery/dist/jquery.min.js")
  script(src="lib/angular/angular.min.js")

  // loading custom script
  script(src="dist/script.js")
